@tailwind base;
@tailwind components;
@tailwind utilities;

span{
  font-family: monospace;
}

li{
  font-family: monospace;
}

p{
  font-family: monospace;
}

a{
  font-family: monospace;
}

body{
  background-color: #1f2937;
}